body{
     
  background:black
}

div{
    background: linear-gradient(to right, #4f0a0a 0%, #cbcb7c 100%);
    color: white
}

header{
    /*background: linear-gradient(to right, #cbcb7c 0%, #4f0a0a 100%);*/
    background: linear-gradient(to right, #4f0a0a 0%, #cbcb7c 100%);
    color: white;

}

h1{
    color:white;
}
.dropdown-menu{
    background: linear-gradient(to right, #4f0a0a 0%, #cbcb7c 100%);
    color: white
}